<!DOCTYPE html>
<html lang="ja">
<head>
  <script src="//assets.adobedtm.com/2d103f4df2978d053e7db7fc1068c4c4c5b497eb/satelliteLib-5210ab929d2553fe0f0a52311cdfaee5dcb0342d.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <title>お問い合わせ｜クラウドPBX</title>
    <link rel="stylesheet" href="assets/css/base.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
</head>
<body class="p-contact">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-LLL2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-LLL2');</script>
  <!-- End Google Tag Manager -->
  <div class="root">
    <section id="section-thanks">
      <h1>送信完了ページ</h1>
      <ul class="social">
        <li><a href="index.html">クラウドPBXトップへ戻る</a></li>
      </ul>
      <div class="inner">
        <h2>フォーム送信が完了しました。</h2>
        <p>この度は、当サイトへお問合せ・ご相談をいただき誠にありがとうございます。</p>
          <p>当サイトにて確認後、ご連絡させていただきます。今しばらくお待ち下さい。</p>
          <p>お問合せいただいた情報は、当日若しくは翌営業日に確認をしております。</p>
          <p>また、当社休日（土・日曜日・祝祭日）にご連絡いただいた場合は</p>
          <p>翌営業日までにご回答できるようにいたします。</p>
          <p>誠に恐縮ですが、お急ぎの場合は下記の電話番号までご連絡ください。</p>
      </div>
      <div class="c-contact-call">
        <div class="c-contact-call__inner">
          <a href="tel:0120962601">0120-962-601</a>
          <p class="c-contact-call__text">受付時間：9:00 〜 19:00（平日）</p>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer_block">
      <ul class="footer_nav">
      <li class="footer_list"><a href="https://www.kotei-denwa.com/company/" target="_blank">会社概要</a></li>
      <li class="footer_list"><a href="https://www.kotei-denwa.com/transaction.html" target="_blank">特定商取引法表記</a></li>
      <li class="footer_list"><a href="https://www.vision-net.co.jp/privacy.html" target="_blank">プライバシーポリシー</a></li>
    </ul>
    <small>©
      <script>document.write(new Date().getFullYear());</script>Vision Inc. All Rights Reserved.</small>
    </div>
    </footer>
  </div>
  <!-- Yahoo! Tag Manager -->
<script type="text/javascript">
  (function() {
    var tagjs = document.createElement("script");
    var s = document.getElementsByTagName("script")[0];
    tagjs.async = true;
    tagjs.src = "//s.yjtag.jp/tag.js#site=XP7VbyZ&referrer=" + encodeURIComponent(document.location.href) + "";
    s.parentNode.insertBefore(tagjs, s);
  }());
  </script>
  <noscript>
    <iframe src="//b.yjtag.jp/iframe?c=XP7VbyZ" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </noscript>
  <!-- End Yahoo! Tag Manager -->
  
  <!-- Dynamic Tag Manager -->
  <script type="text/javascript">_satellite.pageBottom();</script>
  <!-- End Dynamic Tag Manager -->
</body>

</html>